{% extends "base.html" %}
{% block title %} Édition de branche {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une branche
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
                    <p>
						{{ form_update.nom_subject_wtf_update.label }}<br>
						{{ form_update.nom_subject_wtf_update(size=42) }}<br>
						{% for error in form_update.nom_subject_wtf_update.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

