{% extends "base.html" %}
{% block title %} Affichage des utilisateurs {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Branches
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                        {% endif %}
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_subject }}
						</td>
						<td class="align-middle">
							{{ row.name_subject }}
						</td>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-primary" href="{{ url_for('subject_ajouter_wtf') }}" role="button">Ajouter</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-warning" href="{{ url_for('subject_update_wtf', id_subject_btn_edit_html=row.id_subject) }}" role="button">Edit</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-danger" href="{{ url_for('subject_delete_wtf', id_subject_btn_delete_html=row.id_subject) }}" role="button">Delete</a>
						    </td>
                        {% endif %}
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune branche.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('subject_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

