<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Exercice INFO 1C EPSIC 2021.<span class="small"><br>F. Bertolini</span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2021.03.16</div>
        </div>
  </div>
</footer>
