{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom utilisateur
                        </th>
						<th class="align-middle">
                            Courriel
                        </th>
                        <th class="align-middle">
                            Rôle
                        </th>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                        {% endif %}
                    </tr>
                </thead>
            {% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <td class="align-middle">
							{{ row.id_login }}
						</td>
						<td class="align-middle">
							{{ row.username }}
						</td>
						<td class="align-middle">
							{{ row.email }}
						</td>
                        <td class="align-middle">
                            {% if row.grade == 1 %}
                                Utilisateur
                            {% endif %}
                            {% if row.grade > 1 %}
                                Administrateur
                            {% endif %}
						</td>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-primary" href="{{ url_for('login_ajouter_wtf') }}" role="button">Ajouter</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-warning" href="{{ url_for('login_update_wtf', id_login_btn_edit_html=row.id_login) }}" role="button">Edit</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-danger" href="{{ url_for('login_delete_wtf', id_login_btn_delete_html=row.id_login) }}" role="button">Delete</a>
						    </td>
                        {% endif %}
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_login_subject_selected', id_login_subject_edit_html=row.id_login) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.SubjectLogin|default("PAS DE BRANCHE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
