{% extends "base.html" %}
{% block title %} Édition d'utilisateur {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un utilisateur
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
                        {{ form_update.id_structure_wtf_update.label }}<br>
						{{ form_update.id_structure_wtf_update }}<br>
					</p>
                    <script>
                        // lignes pour que le champ sélectionné soit celui stocké préalablement
                        var valeurID = '{{ form_update.id_structure_wtf_update.data }}';
                        document.getElementById('id_structure_wtf_update').value = valeurID;
                    </script>
                    <p>
						{{ form_update.nom_mdp_wtf_update.label }}<br>
						{{ form_update.nom_mdp_wtf_update(size=32) }}<br>
						{% for error in form_update.nom_mdp_wtf_update.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form_update.nom_mdp2_wtf_update.label }}<br>
						{{ form_update.nom_mdp2_wtf_update(size=32) }}<br>
						{% for error in form_update.nom_mdp2_wtf_update.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form_update.nom_utilisateur_wtf_update.label }}<br>
						{{ form_update.nom_utilisateur_wtf_update(size=32) }}<br>
						{% for error in form_update.nom_utilisateur_wtf_update.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form_update.nom_courriel_wtf_update.label }}<br>
						{{ form_update.nom_courriel_wtf_update(size=32) }}<br>
						{% for error in form_update.nom_courriel_wtf_update.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

