{% extends "base.html" %}
{% block title %} Ajout d'utilisateur {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouvel utilisateur
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
                    <p>
                        {{ form.id_structure_wtf.label }}<br>
						{{ form.id_structure_wtf }}<br>
                    </p>
					<p>
						{{ form.nom_utilisateur_wtf.label }}<br>
						{{ form.nom_utilisateur_wtf(size=32) }}<br>
						{% for error in form.nom_utilisateur_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_mdp_wtf.label }}<br>
						{{ form.nom_mdp_wtf(size=32) }}<br>
						{% for error in form.nom_mdp_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_mdp2_wtf.label }}<br>
						{{ form.nom_mdp2_wtf(size=32) }}<br>
						{% for error in form.nom_mdp2_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_courriel_wtf.label }}<br>
						{{ form.nom_courriel_wtf(size=32) }}<br>
						{% for error in form.nom_courriel_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

