{% extends "base.html" %}
{% block title %} Ajout d'utilisateur {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouvel utilisateur
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
                    <p>
						{{ form.nom_structure_wtf.label }}<br>
						{{ form.nom_structure_wtf(size=42) }}<br>
						{% for error in form.nom_structure_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_street_and_number_wtf.label }}<br>
						{{ form.nom_street_and_number_wtf(size=42) }}<br>
						{% for error in form.nom_street_and_number_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_box_and_city_wtf.label }}<br>
						{{ form.nom_box_and_city_wtf(size=42) }}<br>
						{% for error in form.nom_box_and_city_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
						{{ form.nom_phone_number_wtf.label }}<br>
						{{ form.nom_phone_number_wtf(size=42) }}<br>
						{% for error in form.nom_phone_number_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

