{% extends "base.html" %}
{% block title %} Affichage des utilisateurs {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Centres de formation
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
						<th class="align-middle">
                            Rue et numéro de rue
                        </th>
                        <th class="align-middle">
                            Npa et ville
                        </th>
                        <th class="align-middle">
                            Numéro de téléphone
                        </th>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                            <th class="align-middle">

                            </th>
                        {% endif %}
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_structure }}
						</td>
						<td class="align-middle">
							{{ row.name_structure }}
						</td>
						<td class="align-middle">
							{{ row.street_and_number }}
						</td>
                        <td class="align-middle">
							{{ row.po_box_and_city }}
						</td>
                        <td class="align-middle">
                            {% if row.phone_number is defined %}
                                0{{ row.phone_number }}
                            {% else %}
							{{ row.phone_number }}
                            {% endif %}
						</td>
                        {% if (session['logged_in'] == True) and (session['grade'] > 1) %}
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-primary" href="{{ url_for('structure_ajouter_wtf') }}" role="button">Ajouter</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-warning" href="{{ url_for('structure_update_wtf', id_structure_btn_edit_html=row.id_structure) }}" role="button">Edit</a>
						    </td>
                            <td class="text-center" class="align-middle">
							    <a class="btn btn-danger" href="{{ url_for('structure_delete_wtf', id_structure_btn_delete_html=row.id_structure) }}" role="button">Delete</a>
						    </td>
                        {% endif %}
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun centre de formation.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('structure_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

